.board-wrap {
    background: #0e1530;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 12px;
    border: 1px solid #1b2746;
}

.info-wrap {
    background: rgb(255, 255, 238, 0.76);
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 12px;
    border: 1px solid #ffc;
}

.info-wrap.alt {
    background: rgb(255, 240, 220, 0.69);
    border: 1px solid #fea;
}

.info-wrap.info-top {
    border-radius: 0 0 10px 10px;
}

.info-wrap.info-top.sub-tabs {
    padding: 0 12px 0 0;
}

.title-wrap {
    box-sizing: border-box;
    background: rgb(255, 255, 238, 0.4);
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ffc;
}

.board {
    display: grid;
    grid-template-columns: repeat(var(--cols), var(--boxSize));
    grid-template-rows: repeat(var(--rows), var(--boxSize));
    gap: 0px;
    cursor: var(--cross-cursor-image) 16 16, auto;
}


#navbar,
#battleship-game-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.board.bomb {
    cursor: var(--bomb-cursor-image) 26 26, pointer;
}

.board.missile {
    cursor: var(--missile-cursor-image) 6 6, pointer;
}

.cell.launch.turn3 {
    cursor: var(--launch3-cursor-image) 16 24, pointer;
}

.cell.launch.turn4 {
    cursor: var(--launch4-cursor-image) 24 16, pointer;
}

.cell.launch,
.board.launch {
    cursor: var(--launch-cursor-image) 16 6, pointer;
}

.cell.launch.turn2 {
    cursor: var(--launch2-cursor-image) 6 16, pointer;
}

@keyframes explosionShake {
    0% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(-5px, -3px);
    }

    20% {
        transform: translate(5px, 3px);
    }

    30% {
        transform: translate(-6px, 4px);
    }

    40% {
        transform: translate(6px, -4px);
    }

    50% {
        transform: translate(-4px, 2px);
    }

    60% {
        transform: translate(4px, -2px);
    }

    70% {
        transform: translate(-2px, 1px);
    }

    80% {
        transform: translate(2px, -1px);
    }

    90% {
        transform: translate(-1px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

.shake {
    animation: explosionShake 0.35s ease-out;
}

@keyframes heavyExplosion {
    0% {
        transform: translate(0, 0) rotate(0);
    }

    10% {
        transform: translate(-10px, -5px) rotate(-1deg);
    }

    20% {
        transform: translate(10px, 5px) rotate(1deg);
    }

    30% {
        transform: translate(-12px, 8px) rotate(-1.5deg);
    }

    40% {
        transform: translate(12px, -8px) rotate(1.5deg);
    }

    60% {
        transform: translate(-6px, 4px) rotate(-0.5deg);
    }

    80% {
        transform: translate(4px, -2px) rotate(0.3deg);
    }

    100% {
        transform: translate(0, 0) rotate(0);
    }
}

.shake-heavy {
    animation: heavyExplosion 0.45s cubic-bezier(.36, .07, .19, .97);
}

@keyframes screenShake {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(calc(var(--shake-x) * -1), var(--shake-y));
    }

    50% {
        transform: translate(var(--shake-x), calc(var(--shake-y) * -1));
    }

    75% {
        transform: translate(calc(var(--shake-x) * -0.5), calc(var(--shake-y) * 0.5));
    }

    100% {
        transform: translate(0, 0);
    }
}

.shake2 {
    animation: screenShake 0.3s linear;
}




.flying-weapon.missile {
    background-image: var(--flying-missile-image);

}

.flying-weapon.rail-bolt {
    background-image: var(--flying-bolt-image);

}

.flying-weapon.megabomb {
    background-image: var(--flying-bomb-image);

}

.flying-weapon.flack {
    background-image: var(--flying-flack-image);

}

.flying-weapon.kinetic-strike {
    background-image: var(--flying-strike-image);

}

.flying-weapon.torpedo {
    background-image: var(--flying-torpedo-image);
}



.mode-icon.tally-box {
    width: 56px;
    height: 48px;
    border-radius: 8px;
}

.mode-icon.tally-box::before {
    width: 50px;
    height: 42px;
    border-radius: 8px;
    content: '';
    position: absolute;
    z-index: 3;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.4s ease-in-out;
}


.mode-icon.off::before {
    opacity: 0.45;
}

.mode-icon.on {
    border: 3px solid #da0;
}

.mode-icon {
    border: 3px solid #ffe;
    ;
}

#modeIcon1.single::before {
    background-image: var(--cross-cursor-image);
}

#modeIcon1.missile::before {
    background-image: url('./boxlaunch56.png');
}

#modeIcon2.missile::before {
    background-image: url('./boxmissile40.png');
}

#modeIcon1.missile.off::before {
    background-image: url('./boxlaunchol56.png');
}

#modeIcon2.missile.off::before {
    background-image: url('./boxmissileol56.png');
}


#modeIcon1.rail-bolt::before {
    background-image: url('./boxrail56.png');

}

#modeIcon2.rail-bolt::before {
    background-image: url('./boxbolt40.png');

}

#modeIcon1.rail-bolt.off::before {
    background-image: url('./boxrailol56.png');

}

#modeIcon2.rail-bolt.off::before {
    background-image: url('./boxboltol56.png');

}

#modeIcon1.megabomb::before {
    background-image: url('./boxbomb40.png');
}

#modeIcon1.flack::before {
    background-image: url('./boxflack40.png');

}

#modeIcon1.kinetic-strike::before {
    background-image: url('./sat56.png');
}

#modeIcon2.kinetic-strike::before {
    background-image: url('./boxstrike56.png');
}

#modeIcon1.kinetic-strike.off::before {
    background-image: url('./satol56.png');
}

#modeIcon2.kinetic-strike.off::before {
    background-image: url('./boxstrikeol56.png');
}


#modeIcon1.torpedo::before {
    background-image: url('./boxtorpedo40.png');
}

#modeIcon2.torpedo::before {
    background-image: url('./periscope56.png');
}

#modeIcon1.torpedo.off::before {
    background-image: url('./boxtorpedool56.png');
}

#modeIcon2.torpedo.off::before {
    background-image: url('./periscopeol56.png');
}


div.tally-row.weapon div.tally-box::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    z-index: 3;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.4s ease-in-out;
}

.tally-row.weapon .tally-box.hit::before {
    background-image: url('./skull28.png');

}

.tally-row.weapon .tally-box.damaged::before {
    background-image: url('./skullol28.png');
}

.tally-row.weapon div.tally-box.used::before {
    text-align: center;
    line-height: 28px;
    color: '#fff';
    content: 'X';
}

.tally-row.weapon.missile div.tally-box:not(.hit)::before {
    background-image: url('./boxmissile28.png');
}

.tally-row.weapon.missile div.tally-box.used::before {
    background-image: url('./boxmissileol28.png');
    opacity: 0.6;
}

div.tally-row.weapon.rail-bolt div.tally-box:not(.hit)::before {
    background-image: url('./boxbolt28.png');

}

div.tally-row.weapon.rail-bolt div.tally-box.used::before {
    background-image: url('./boxboltol28.png');
}

div.tally-row.weapon.megabomb div.tally-box:not(.hit)::before {
    background-image: url('./boxbomb28.png');

}

div.tally-row.weapon.megabomb div.tally-box.used::before {
    background-image: url('./boxbombol28.png');
    opacity: 0.6;
}

div.tally-row.weapon.flack div.tally-box:not(.hit)::before {
    background-image: var(--box-flack-image);

}

div.tally-row.weapon.flack div.tally-box.used::before {
    background-image: url('./boxflackol28.png');

}

div.tally-row.weapon.kinetic-strike div.tally-box:not(.hit)::before {
    background-image: url('./boxstrike28.png');

}

div.tally-row.weapon.kinetic-strike div.tally-box.used::before {
    background-image: url('./boxstrikeol28.png');

}

div.tally-row.weapon.torpedo div.tally-box:not(.hit)::before {
    background-image: url('./boxtorpedo28.png');

}

div.tally-row.weapon.torpedo div.tally-box.used::before {
    background-image: url('./boxtorpedool28.png');
    opacity: 0.6;
}

.flying-weapon {
    position: fixed;
    width: 40px;
    height: 40px;
    pointer-events: none;
    background-image: var(--white-missile-image);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 6;
    transform: translate(-50%, -50%) rotate(var(--angle));
    transform-origin: center center;

    left: var(--x);
    top: var(--y);

    animation: flyweapon var(--duration) linear forwards;
}

/* Keyframes */
@keyframes flyweapon {
    0% {
        left: var(--start-x);
        top: var(--start-y);
        opacity: 1;
    }

    2% {
        left: var(--start-x);
        top: var(--start-y);
        opacity: 1;
    }

    100% {
        opacity: 1;
        left: var(--end-x);
        top: var(--end-y);
    }
}

.explosion.play {
    will-change: background-position, transform, opacity;

    animation:
        explode-frames 0.6s steps(1) forwards,
        explode-scale 0.5s ease-out forwards,
        explode-fade 0.8s ease-out forwards;
}

.explosion {
    width: 128px;
    height: 128px;
    background-image: var(--space-explode-image);
    background-repeat: no-repeat;
    background-size: 512px 256px;
    z-index: 7;
    position: fixed;
    transform: translate(-50%, -50%);
    transform-origin: center center;

    left: var(--x);
    top: var(--y);
    animation: none;
}

.explosion.asteroid {
    background-image: var(--asteroid-explode-image);
}

.explosion.sea {
    background-image: var(--sea-explode-image);
}

.explosion.land {
    background-image: var(--land-explode-image);
}

.explosion.air {
    background-image: var(--air-explode-image);
}

.explosion.plasma {
    background-image: var(--plasma-explode-image);
}

@keyframes explode-frames {
    0% {
        background-position: 0px 0px;
    }

    2% {
        background-position: 0px 0px;
    }

    12.5% {
        background-position: -128px 0px;
    }

    25% {
        background-position: -256px 0px;
    }

    37.5% {
        background-position: -384px 0px;
    }

    50% {
        background-position: 0px -128px;
    }

    62.5% {
        background-position: -128px -128px;
    }

    75% {
        background-position: -256px -128px;
    }

    87.5% {
        background-position: -384px -128px;
    }
}

@keyframes explode-scale {
    from {
        transform: scale(var(--scale-start));
    }

    to {
        transform: scale(var(--scale-end));
    }
}

@keyframes explode-fade {
    0% {
        opacity: 0;
    }

    3% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.cell.rail,
.board.rail {
    cursor: var(--rail-cursor-image) 26 26, pointer;
}

.board.bolt {
    cursor: var(--bolt-cursor-image) 26 26, pointer;
}

.board.strike {
    cursor: var(--strike-cursor-image) 6 26, pointer;
}

.board.satelite {
    cursor: var(--satelite-cursor-image) 10 20, pointer;
}

.board.cluster {
    cursor: var(--cluster-cursor-image) 10 20, pointer;
}

.board.torpedo {
    cursor: var(--torpedo-cursor-image) 8 16, pointer;
}


.board.periscope {
    cursor: var(--periscope-cursor-image) 20 16, pointer;
}


.board.dish {
    cursor: var(--dish-cursor-image) 16 16, pointer;
}

.board.sweep {
    cursor: var(--sweep-cursor-image) 16 16, pointer;
}

/* destroyed (desaturated) board   */
.board.destroyed .asteroid.light,
.board.destroyed .space.light,
.board.destroyed .land.light,
.board.destroyed .sea.light {
    background: #777;
}

.board.destroyed .asteroid.dark,
.board.destroyed .space.dark,
.board.destroyed .land.dark,
.board.destroyed .sea.dark {
    background: #555;
}

.cell {
    width: var(--boxSize);
    height: var(--boxSize);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-sizing: border-box;
    position: relative;
    overflow: clip;
    text-align: center;

    z-index: 1;
}


.cell.land.light {
    background: #348239;
}

.cell.land.dark {
    background: #296334;
}

.cell.sea.light {
    background: #1a78d6;
}

.cell.sea.dark {
    background: #1761b0;
}

.cell.asteroid.light {
    background: #eed8a0;

}

.cell.asteroid.dark {
    background: #d6c286;
}

.cell.space.light {
    background: #e1d4f3;
}

.cell.space.dark {
    background: #c2bdd2;
}

.cell.rightEdge.light {
    border-right: 2px solid #024;
}

.cell.bottomEdge.light {
    border-bottom: 2px solid #024;
}

.cell.rightEdge.dark {
    border-right: 2px solid #000;
}

.cell.bottomEdge.dark {
    border-bottom: 2px solid #000;
}

.cell.leftEdge.light {
    border-left: 2px solid #000;
}

.cell.leftEdge.dark {
    border-left: 2px solid #000;
}

.cell.empty {
    background: transparent
}

.cell.destroy-vunerable {
    background: #c9e673
}

.cell.destroy-normal {
    background: #f5b44c
}

.cell.destroy-hardened {
    background: #6c0135
}

.cell.reveal-vunerable {
    background: #73bce6
}

.cell.reveal-normal {
    background: #4f4cf5
}

.cell.reveal-hardened {
    background: #540181
}

.cell.weapon-path {
    background: #a6f9e1
}

.cell.empty,
.cell.row-label,
.cell.col-label {
    border: 0 none !important;
}