.status {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    font-weight: bold;
    color: #111;
    font-size: 150%;
}

.status.right {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: stretch;
    margin-top: 0px;
    gap: 8px;
}

.status.medium {
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #111;
    font-size: 115%;
}

.status.small {
    font-weight: bold;
    height: 56px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #111;
    font-size: 90%;
}

.status.hidden {
    display: none;
}

.game-status {
    text-align: left;
}

flex-direction .mode-status {
    text-align: right;
}


.status .mode-icons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #111;
}

.ammo-counter {
    position: relative;
    font-family: system-ui, sans-serif;
    font-weight: 600;
    width: 50px;
    height: 50px;
}

/* diagonal line */
.ammo-counter::before {
    width: 40px;
    height: 40px;
    margin-left: 12px;
    margin-top: 7px;
    content: "";
    position: absolute;
    inset: 0;
    z-index: 3;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.4s ease-in-out;
    background: linear-gradient(135deg,
            transparent 46%,
            #888 47%,
            #888 53%,
            transparent 54%);
    pointer-events: none;
}

.ammo-counter .left {
    position: absolute;
    margin-top: -3px;
    margin-left: 10px;
    font-size: 110%;
}

.ammo-counter .right {
    position: absolute;
    bottom: 0px;
    right: -2px;
    font-size: 75%;
    opacity: 0.75;
}